<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075055209797-q3ggoq5e8jkqns135abl6k7kbbqq96mv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075055209797-q3ggoq5e8jkqns135abl6k7kbbqq96mv</string>
	<key>API_KEY</key>
	<string>AIzaSyAtRD_KctQvSlulQJgTgGx0VeB3op_4qzg</string>
	<key>GCM_SENDER_ID</key>
	<string>1075055209797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fleetdeskFlutter</string>
	<key>PROJECT_ID</key>
	<string>fleetdeskflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>fleetdeskflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075055209797:ios:9b7021925f9f7f6221a22c</string>
</dict>
</plist>